.pagina {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 50px;
  flex-wrap: wrap;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  min-height: 100vh;
}

.card {
  width: 350px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.subtitulo {
  color: #666;
  margin-bottom: 20px;
  font-size: bold;
}

.card h1 {
  width: 200px;
  margin: 0 auto 0px;
  text-align: center;
  line-height: 1.2;
  font-size: 28px;
  color: #666;
}

.card h2 {
  margin-top: 15px;
  color: #333;
}

.card p {
  color: #555;
  line-height: 1.5;
}

.botao-voltar {
  position: fixed; /* fixa na tela */
  top: 20px;
  bottom: 5px; /* distância do fundo */
  left: 50px; /* distância da esquerda */
  width: 60px; /* tamanho da imagem */
  height: 50px;
  cursor: pointer; /* vira mãozinha */
  transition: transform 0.2s ease;
}

/* efeito ao passar o mouse */
.botao-voltar:hover {
  transform: scale(1.1);
}